<div class="container-xs">
    <div class="flex justify-center mb-6">
        <%= render 'workspaces/avatar', workspace: @workspace, size: :xl %>
    </div>
    <%= render 'components/headers/header_center', title: @workspace.name %>
</div>