<% errors = form.object.errors[:base] %>

<% if errors.any? %>
  <div class="card-danger p-4 mb-5">
    <div class="flex">
      <div class="flex-shrink-0">
        <i class="ph-fill ph-x-circle text-danger-500 text-lg"></i>
      </div>
      <div class="ml-3">
        <h3 class="text-sm font-medium text-danger-800">There was <%= pluralize(errors.count, "error") %> with your submission</h3>
        <div class="mt-2 text-sm text-danger-700">
          <ul role="list" class="list-disc space-y-1 pl-5">
            <% errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
<% end %>

